#footerModalHistoryVersionDocument {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#footerModalHistoryVersionDocument .interstitial__button {
    margin-right: 0;
}

.parapheur-file-label__button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    height: 100%;
    color: #3c3c3c;
}

.input-ninety-percent {
    width: 90% !important;
}

.table-dossier-dropdown {
    display: inline;
}

.ds-checkbox-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.tableForm .table-wrapper {
    overflow-x: visible;
}
