.page-solon-pan-master-table .header-menu--opened {
    z-index: 4;
}

.page-solon-pan-master-table .table-mesures .table-line.table-line--pan-invalidated {
    background-color: #624a81;
}

.page-solon-pan-master-table .table-mesures .table-line.table-line--pan-invalidated:nth-child(2n) {
    background-color: #44315d;
}

.table-line--pan-invalidated .table-line__cell {
    color: #fefefe;
}

.page-solon-pan-master-table .table-line--pan-invalidated .base-btn,
.page-solon-pan-master-table .table-line--pan-invalidated .table-line__icon {
    color: #fefefe;
}

.a--rounded {
    border-radius: 50%;
}

.table-scrollbar-wrapper {
    max-height: 45em;
}

.table-scrollbar-wrapper .table-header__cell {
    position: sticky;
    top: 0;
    z-index: 2;
}

.page-solon-pan-master-table .table-scrollbar-wrapper .table-header__cell.sticky-col {
    z-index: 3 !important;
}

.icon-traite-published {
    color: #2e2e2e !important;
}

.page-solon-pan-master-table .table-master .table-line__cell.table-line__cell--check {
    padding-left: 1.563em;
}

.pan-grid__col {
    min-width: 12rem;
}

#panModaleEdit .form-input__footer {
    position: unset;
}
