<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="historiqueHeader">
            <th scope="col" class="table-header__cell" th:text="#{historique.migration.ministere.rattachement}">
                Ministère de rattachement
            </th>
            <th scope="col" class="table-header__cell" th:text="#{historique.migration.reattribution.dossiers}">
                Réattribution des dossiers
            </th>
            <th scope="col" class="table-header__cell" th:text="#{historique.migration.bulletin.officiel}">
                Bulletin officiel
            </th>
            <th scope="col" class="table-header__cell" th:text="#{historique.migration.tables.reference}">
                Tables de référence
            </th>
        </th:block>
    </body>
</html>
