<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="file-input-content-ampliation(nom)">
            <ul class="form-file__file-label-list">
                <li class="form-file__file-label-item" id="ampliation-file">
                    <div class="file-label">
                        <p class="file-label__content file-label__content--sm">
                            <a
                                class="link"
                                onclick="downloadAmpliationFile()"
                                th:download="${nom}"
                                th:text="${nom}"
                            ></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
