<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="creation-dossier-ordonnance">
            <!-- fragment Mesure transposition directive européenne -->
            <div
                th:replace="fragments/travail/creation-dossier-mesure-transposition :: creation-dossier-mesure-transposition"
            ></div>

            <!-- fragment Fondement article -->
            <div
                th:replace="fragments/travail/creation-dossier-fondement-article :: creation-dossier-fondement-article"
            ></div>
        </div>
    </body>
</html>
