<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="dossierContent(dossierParent, entiteVisible, tooltip, depth)">
            <th:block th:unless="${#lists.isEmpty(dossierParent.lstDocuments)}">
                <th:block th:each="doc : ${dossierParent.lstDocuments}">
                    <tr
                        class="table-line table-line--with-action-column table-line--complex-line"
                        th:data-id="${doc.id}"
                    >
                        <td th:class="|table-line\_\_cell table-line\_\_cell--file-folder-info tab--${depth}|">
                            <a
                                class="link"
                                th:href="@{|/dossier/${repDossierId}/telecharger?fileId=${doc.id}|}"
                                target="_blank"
                                th:title="${doc.nonTransmis}? |${doc.nom} #{file.label.non.transmis.ce}| : ${doc.nom}+${doc.extension}"
                            >
                                <span
                                    aria-hidden="true"
                                    class="icon icon--file link__icon link__icon--prepend link__icon--large"
                                >
                                </span>
                                <th:block th:unless="${doc.nonTransmis}" th:text="|${doc.nom} ${doc.extension}|">
                                    nom.doc
                                </th:block>
                                <th:block th:if="${doc.nonTransmis}" th:text="|* ${doc.nom} ${doc.extension}|">
                                    * nom.doc
                                </th:block>
                            </a>

                            <th:block th:if="${editAction == null && doc.modifEnCours}">
                                <span class="pipe-separator"> | </span>
                                [[#{file.edit.isediting}]]
                            </th:block>
                            <th:block th:if="${editActionFdd != null && doc.fdd}">
                                <span class="pipe-separator"> | </span>
                                <a
                                    th:replace="fragments/components/action-link :: action-link(
                                    ${editActionFdd},
                                    'link',
                                    'icon link\_\_icon link\_\_icon--prepend link\_\_icon--large')"
                                >
                                </a>
                            </th:block>
                            <th:block th:if="${editActionParapheur != null && doc.parapheur}">
                                <span class="pipe-separator"> | </span>
                                <a
                                    th:replace="fragments/components/action-link :: action-link(
                                    ${editActionParapheur},
                                    'link',
                                    'icon link\_\_icon link\_\_icon--prepend link\_\_icon--large')"
                                >
                                </a>
                            </th:block>
                        </td>
                        <td class="table-line__cell">[[${doc.auteur}]]</td>
                        <td class="table-line__cell" th:if="${entiteVisible}">[[${doc.entite}]]</td>
                        <td class="table-line__cell">[[${doc.date}]]</td>
                        <td class="table-line__cell">[[${doc.version}]]</td>
                        <td class="table-line__cell table-line__action-column">
                            <div class="table-line__action-column-container" th:with="dropdownRight=true">
                                <div class="table-line__action-column-container">
                                    <th:block th:if="${not #lists.isEmpty(doc.lstActions)}">
                                        <div
                                            th:replace="fragments/components/dropdown-action :: dropdown-action(
                                            'content-action',
                                            ${doc.lstActions}, 
                                            'icon--ellipsis', 
                                            false, 
                                            'fondDossier.tooltip.showOptions',
                                            'base-btn--transparent base-btn--light base-btn--md-icon',
                                            false,
                                            'base-drop-down--light')"
                                        ></div>
                                    </th:block>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </th:block>
        </div>
    </body>
</html>
