<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="dossier-table-numero-nor(navigationActions, item, elemId)"
            ><th:block th:if="${navigationActions != null && navigationActions.isFromEspaceTravail && !item.isRead}"
                ><strong><span th:id="${elemId}" th:text="${item.numeroNor}"></span></strong
                ><span class="sr-only" th:text="#{dossier.non.lu}">non lu</span></th:block
            ><th:block th:unless="${navigationActions != null && navigationActions.isFromEspaceTravail && !item.isRead}"
                ><span th:id="${elemId}" th:text="${item.numeroNor}"></span></th:block
        ></th:block>
    </body>
</html>
