<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modal-valider-non-concerne"
            id="modal-valider-non-concerne"
            class="interstitial-overlay__content"
        >
            <div
                class="interstitial"
                role="dialog"
                aria-labelledby="dialogTitle-modal-valider-non-concerne"
                style="position: relative;"
            >
                <div class="interstitial__header">
                    <h1 class="interstitial__title" th:text="#{dossier.action.valider.non.concerne}"></h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span
                        ><span class="sr-only" th:text="#{validation.popup.close.label}"
                            >Fermer la fenêtre de dialogue</span
                        >
                    </button>
                </div>
                <div class="interstitial__content">
                    <p class="base-paragraph" th:text="#{dossier.valider.non.concerne.message.modal}"></p>
                </div>
                <div class="interstitial__footer">
                    <button
                        type="button"
                        th:text="#{button.label.cancel}"
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                    >
                        Annuler
                    </button>
                    <button
                        type="button"
                        id="btn-ajouter-etape"
                        th:text="#{dossier.valider.non.concerne.modal.ajout.etape}"
                        class="base-btn base-btn--button base-btn--default base-btn--default base-btn--center base-btn--secondary interstitial__close"
                        onclick="validerNonConcerne(true)"
                    >
                        Ajouter une étape supplémentaire
                    </button>
                    <button
                        type="button"
                        id="btn-pursuivre"
                        th:text="#{dossier.valider.non.concerne.modal.poursuivre}"
                        class="base-btn base-btn--button base-btn--default base-btn--center interstitial__close"
                        onclick="validerNonConcerne(false)"
                    >
                        Poursuivre
                    </button>
                </div>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
