<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modal-transfert-selection"
            id="modal-transfert-selection"
            class="interstitial-overlay__content"
        >
            <div
                class="interstitial"
                role="dialog"
                th:aria-labelledby="#{outilSelection.action.transfert.dossier}"
                style="position: relative;"
            >
                <div class="interstitial__header">
                    <h1
                        class="interstitial__title"
                        th:text="|#{outilSelection.action.transfert.dossier} #{outilSelection.modal.first.step}|"
                    ></h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span
                        ><span class="sr-only" th:text="#{validation.popup.close.label}"
                            >Fermer la fenêtre de dialogue</span
                        >
                    </button>
                </div>
                <div class="interstitial__content">
                    <form id="transfert-modal-form">
                        <fieldset>
                            <legend class="sr-only" th:text="#{outilSelection.action.transfert.dossier}">
                                Transférer les dossiers
                            </legend>
                            <div class="grid__row">
                                <div class="relative grid__col m-b-6">
                                    <th:block
                                        th:replace="fragments/components/organigrammeSelectAutocomplete ::organigrammeSelectAutocomplete('outilSelection.transfert.ministere.cible', true, 'ministere-cible-transfert', 'ministere', 'MIN', null, false, false, null, false)"
                                    ></th:block>
                                </div>
                            </div>
                            <div class="grid__row">
                                <div class="relative grid__col m-b-6">
                                    <th:block
                                        th:replace="fragments/components/organigrammeSelectAutocomplete ::organigrammeSelectAutocomplete('outilSelection.transfert.direction.cible', true, 'direction-cible-transfert', 'direction', 'DIR', null, false, false, null, false)"
                                    ></th:block>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="interstitial__footer">
                    <button
                        type="button"
                        th:text="#{button.label.cancel}"
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--light base-btn--center base-btn--transparent base-btn--bordered"
                        onclick="closeTransfertModal(event)"
                    >
                        Annuler
                    </button>
                    <button
                        type="button"
                        id="btn-valider-transfert"
                        th:text="#{outilSelection.action.transferer.suivant.button}"
                        class="base-btn base-btn--button base-btn--default base-btn--center interstitial__close"
                        onclick="checkTransfertDossiers()"
                    >
                        Transférer
                    </button>
                </div>
            </div>
            <div tabindex="0" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
