<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="publication-ministerielle-bloc">
            <!-- Tableau bulletins officiels -->
            <div
                th:replace="fragments/dossier/vecteurs-publication/publication-ministerielle-table :: publication-ministerielle-table"
            ></div>
            <!-- Ajouter un bulletin officiel -->
            <div
                th:replace="fragments/dossier/vecteurs-publication/publication-ministerielle-form :: publication-ministerielle-form"
            ></div>
        </div>
    </body>
</html>
