<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="vecteurs-publication-bloc">
            <!-- Tableau vecteur de publication -->
            <div
                th:replace="fragments/dossier/vecteurs-publication/vecteurs-publication-table :: vecteurs-publication-table"
            ></div>
            <!-- Ajouter un vecteur de publication -->
            <div
                th:replace="fragments/dossier/vecteurs-publication/vecteurs-publication-form :: vecteurs-publication-form"
            ></div>
        </div>
    </body>
</html>
