<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="fichePresentationWidgets(widgets)">
            <ul class="labellised-list">
                <th:block th:each="widget : ${widgets}">
                    <li class="labellised-list__item">
                        <th:block th:if="${widget.typeChamp == 'text'}">
                            <th:block th:replace="fragments/mgpp/widgets/text :: text(${widget})"></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp}== 'input-text'">
                            <th:block th:replace="fragments/mgpp/widgets/input-text :: inputText(${widget})"></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp}== 'input-text-hidden'">
                            <th:block
                                th:replace="fragments/mgpp/widgets/input-text-hidden :: inputTextHidden(${widget})"
                            ></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp} == 'multiple-input-text'">
                            <th:block
                                th:replace="fragments/mgpp/widgets/multiple-input-text :: multipleInputText(${widget})"
                            ></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp} == 'textarea'">
                            <th:block th:replace="fragments/mgpp/widgets/textarea :: textarea(${widget})"></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp} == 'select'">
                            <th:block th:replace="fragments/mgpp/widgets/select :: select(${widget})"></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp} == 'date'">
                            <th:block th:replace="fragments/mgpp/widgets/date :: date(${widget})"></th:block>
                        </th:block>
                        <th:block th:if="${widget.typeChamp} == 'radio'">
                            <th:block
                                th:replace="fragments/mgpp/widgets/optin-radio :: optinRadio(${widget})"
                            ></th:block>
                        </th:block>
                    </li>
                </th:block>
            </ul>
        </div>
    </body>
</html>
