<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="panEditLoiRatificiation(item)" id="content-panModaleEdit">
            <form action="" class="grid m-t-2">
                <input type="hidden" name="idPremierTableau" th:value="${item.getId()}" />
                <input type="hidden" name="idContextuel" th:value="${idContextuel}" />

                <th:block th:with="isNarrow=true">
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.dateLimiteDepot}, null, 'dateLimiteDepot', 'pan.ratification.loiRatification.dateLimiteDepot', false, false, 'date-picker')"
                    ></div>
                </th:block>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.numeroNor}, null, 'numeroNor', 'pan.ratification.loiRatification.numeroNor', false, false, 'text')"
                ></div>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.titreActe}, null, 'titreActe', 'pan.ratification.loiRatification.titreActe', false, false, 'text-area')"
                ></div>

                <th:block th:with="isNarrow=true">
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.dateSaisineCE}, null, 'dateSaisineCE', 'pan.ratification.loiRatification.dateSaisineCE', false, false, 'date-picker')"
                    ></div>
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.dateExamenCE}, null, 'dateExamenCE', 'pan.ratification.loiRatification.dateExamenCE', false, false, 'date-picker')"
                    ></div>
                </th:block>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.sectionCE}, null, 'sectionCE', 'pan.ratification.loiRatification.sectionCE', false, false, 'text')"
                ></div>

                <th:block th:with="isNarrow=true">
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.dateExamenCM}, null, 'dateExamenCM', 'pan.ratification.loiRatification.dateExamenCM', false, false, 'date-picker')"
                    ></div>
                </th:block>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.chambreDepot}, null, 'chambreDepot', 'pan.ratification.loiRatification.chambreDepot', false, false, 'text')"
                ></div>

                <th:block th:with="isNarrow=true">
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.dateDepot}, null, 'dateDepot', 'pan.ratification.loiRatification.dateDepot', false, false, 'date-picker')"
                    ></div>
                </th:block>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.numeroDepot}, null, 'numeroDepot', 'pan.ratification.loiRatification.numeroDepot', false, false, 'text')"
                ></div>

                <div
                    th:replace="fragments/pan/components/panFormField :: panFormField( ${item.titreOfficiel}, null, 'titreOfficiel', 'pan.ratification.loiRatification.titreOfficiel', false, false, 'text-area')"
                ></div>

                <th:block th:with="isNarrow=true">
                    <div
                        th:replace="fragments/pan/components/panFormField :: panFormField( ${item.datePublication}, null, 'datePublication', 'pan.ratification.loiRatification.datePublication', false, false, 'date-picker')"
                    ></div>
                </th:block>
            </form>
        </div>
    </body>
</html>
