<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>
    <!-- Represents the name of the root directory -->
    <add key="FOLDER_SOLON_EDIT" value="Solon-edit"/>
    <!-- Represents the name of the logs directory -->
    <add key="FOLDER_SOLON_LOG" value="Logs"/>
    <add key="FOLDER_SOLON_DOCUMENT" value="Documents"/>
    <!-- Represents the file that contains the documents index   -->
    <add key="FILE_SOLON_NOTIFIER" value="index.solonedit"/>
    <!-- Represents the file that contains the headers and threadSleep  -->
    <add key="FILE_HEADERS" value="headers.solonedit"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--<runtime>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
	</runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>
</configuration>
