<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="creation-dossier-decret">
            <!-- fragment Mesure transposition directive européenne -->
            <div
                th:replace="fragments/travail/creation-dossier-mesure-transposition :: creation-dossier-mesure-transposition(isDirective=true)"
            ></div>

            <!-- fragment Mesure application loi ou ordonnance -->
            <div
                th:replace="fragments/travail/creation-dossier-mesure-application :: creation-dossier-mesure-application(isDirective=false)"
            ></div>
        </div>
    </body>
</html>
