<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="parametreAdamantForm">
            <div role="group" aria-labelledby="adamantSubtitle1">
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="numEntreeSolon" id="numEntreeSolonLabel" class="form-label">
                                    [[#{parametre.admant.numero.entree.solon.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="numEntreeSolon"
                                id="numEntreeSolon"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.numEntreeSolon}"
                            />
                        </div>
                        <div id="numEntreeSolon_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="originatingAgencyId" id="originatingAgencyIdLabel" class="form-label">
                                    [[#{parametre.admant.originating.agency.identifier.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="originatingAgencyId"
                                id="originatingAgencyId"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.originatingAgencyId}"
                            />
                        </div>
                        <div id="originatingAgencyId_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="submissionAgencyId" id="submissionAgencyIdLabel" class="form-label">
                                    [[#{parametre.admant.submission.agency.identifier.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="submissionAgencyId"
                                id="submissionAgencyId"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.submissionAgencyId}"
                            />
                        </div>
                        <div id="submissionAgencyId_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="archivalProfile" id="archivalProfileLabel" class="form-label">
                                    [[#{parametre.admant.archival.profile.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="archivalProfile"
                                id="archivalProfile"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.archivalProfile}"
                            />
                        </div>
                        <div id="archivalProfile_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label
                                    for="archivalProfileSpecific"
                                    id="archivalProfileSpecificLabel"
                                    class="form-label"
                                >
                                    [[#{parametre.admant.archival.profile.specific.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="archivalProfileSpecific"
                                id="archivalProfileSpecific"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.archivalProfileSpecific}"
                            />
                        </div>
                        <div id="archivalProfileSpecific_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="originatingAgencyId2" id="originatingAgencyId2Label" class="form-label">
                                    [[#{parametre.admant.originating.agency.identifier2.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="originatingAgencyId2"
                                id="originatingAgencyId2"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.originatingAgencyId2}"
                            />
                        </div>
                        <div id="originatingAgencyId2_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="submissionAgencyId2" id="submissionAgencyId2Label" class="form-label">
                                    [[#{parametre.admant.submission.agency.identifier2.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="text"
                                name="submissionAgencyId2"
                                id="submissionAgencyId2"
                                data-validation="required"
                                class="form-input__field form-input__field--type-text"
                                th:value="${resultForm.submissionAgencyId2}"
                            />
                        </div>
                        <div id="submissionAgencyId2_description" class="form-input__footer"></div>
                    </div>
                </div>
            </div>
            <h2 class="m-b-6 base-title base-title--lvl-2" id="adamantSubtitle2">
                [[#{parametre.admant.parametrage.extraction.subtitle}]]
            </h2>
            <div role="group" aria-labelledby="adamantSubtitle2">
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="delaiEligibilite" id="delaiEligibiliteLabel" class="form-label">
                                    [[#{parametre.admant.delai.eligibilite.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="number"
                                name="delaiEligibilite"
                                id="delaiEligibilite"
                                data-validation="required, numeric"
                                class="form-input__field form-input__field--type-number"
                                th:value="${resultForm.delaiEligibilite}"
                            />
                        </div>
                        <div id="delaiEligibilite_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-input">
                        <div class="form-input__header">
                            <div class="form-input__header-top">
                                <label for="nbDossier" id="nbDossierLabel" class="form-label">
                                    [[#{parametre.admant.nb.dossier.label}]]
                                    <span class="form-label__required-text" th:text="#{form.input.required}"
                                        >(requis)</span
                                    >
                                </label>
                                <div class="form-input__icon-group"></div>
                            </div>
                        </div>
                        <div class="form-input__container">
                            <input
                                type="number"
                                name="nbDossier"
                                id="nbDossier"
                                data-validation="required, numeric"
                                class="form-input__field form-input__field--type-number"
                                th:value="${resultForm.nbDossier}"
                            />
                        </div>
                        <div id="nbDossier_description" class="form-input__footer"></div>
                    </div>
                </div>
                <div class="grid__row m-b-6">
                    <div class="grid__col grid__col--middle form-select">
                        <div
                            th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect(
                                'parametre.admant.vecteur.publication.label', 
                                'vecteurPublication', 
                                'vecteurPublication', 
                                'form.description.nocharlimit', 
                                ${ {} }, 
                                ${resultForm.vecteurPublication},
                                false, 
                                @{/ajax/archivage/adamant/suggestions?typeSelection=VecteurPublication},
                                '0', 
                                'input', 
                                '', 
                                '', 
                                true, 
                                true, 
                                false)"
                        ></div>
                    </div>
                </div>
                <div class="grid__row m-b-10">
                    <div class="grid__col grid__col--middle form-select">
                        <div
                            th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect(
                                'parametre.admant.type.acte.label', 
                                'typeActe', 
                                'typeActe', 
                                'form.description.nocharlimit', 
                                ${ {} }, 
                                ${resultForm.typeActe},
                                false,                                  @{/ajax/archivage/adamant/suggestions?typeSelection=TypeActe},
                                '0', 
                                'input', 
                                '', 
                                '', 
                                true, 
                                true, 
                                false)"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
