<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp0FF551EEB76F2BD806B527E3F82CF893" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey Key="ep2ng\shell\open\command" Root="HKCR">
                    <RegistryValue Value="&quot;C:\Users\amadih\Documents\projects\solonng_launcher-new\DILA-solon-edit\desktop\bin\Debug\solonng_launcher.exe&quot; &quot;%1&quot;" Type="string" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp3EEB6F1D22426DC6E0FEAC3B129217B6" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey Key="ep2ng" Root="HKCR">
                    <RegistryValue Name="URL Protocol" Value="" Type="string" />
                    <RegistryValue Value="URL:Solon-edit Protocol" Type="string" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp4D4DD9B8EE5C2ABB8AF60657E3720FE5" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey ForceCreateOnInstall="yes" Key="ep2ng\shell" Root="HKCR" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp5E82E7A3149F4D879CB2006CA2B960AE" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey ForceCreateOnInstall="yes" Key="ep2ng\shell\open" Root="HKCR" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmpDAC1302C73E95CF30CE59074E8B6C74F" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey Key="ep2ng\DefaultIcon" Root="HKCR">
                    <RegistryValue Value="C:\Users\amadih\Documents\projects\solonng_launcher-new\DILA-solon-edit\desktop\bin\Debug\solonng_launcher.exe" Type="string" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>