/*************/
/** Général **/
/*************/
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.normal {
  font-weight: normal;
}

h1 {
  font-size: 20px;
}

/************/
/** Header **/
/************/
header table {
  background-color: #9C958D;
}

header table .leftHandleTab,
header table .leftHandleTab > * {
  height: 38px;
}

/**********/
/** Body **/
/**********/

.container-fluid {
  margin-top: 20px !important;
}

#content {
  padding-top: 5px !important;
}

/*****************/
/** Left column **/
/*****************/

#facets {
  background-color: #F4F2EA;
  border: 1px solid #898379;
  border-radius: 5px;
  padding: 0 15px 15px !important;
}

#facets h4 {
  border-top: 2px solid #B92125;
  font-size: 15px;
  font-weight: bold;
  padding-top: 3px !important;
}

#facets .facet {
  margin-top: 10px !important;
}

#facets .facet-legend {
  font-weight: bold;
  margin-top: 10px !important;
}

#facets .facet .collapse {
  padding-left: 18px !important;
}

#facets label {
  display: block;
  font-weight: normal;
}

#facets label:hover {
  cursor: pointer;
}

#facets label.date-label {
  margin-top: 5px !important;
}

#facets .input-group.date {
  margin-bottom: 5px !important;
  display: inline-table !important;
}

#facets .input-group.date input {
  padding-right: 6px !important;
}

#facets .extra-submit-button {
  float: right;
}

#facets #search-date {
/* 	display: none; */;
}

/**************/
/** Criteria **/
/**************/

.criteria .criterion {
  display: inline-block;
  margin-right: 5px;
}

.criteria .criterion .close {
  margin-left: 5px !important;
/* 	display: none; */;
}

/************/
/** Search **/
/************/

#search-form .form-group {
  position: relative;
  width: 80%;
}

#search-form input#search-form\:fulltext {
  width: 100%;
}

#search-form #main-submit-button {
  vertical-align: top;
}

#search-form .glyphicon-remove {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px !important;
}

#sort-type, #page-size {
  margin-bottom: 10px !important;
}

/*************/
/** Results **/
/*************/

.result {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 15px !important;
  padding: 10px 20px 5px !important;
}

.result h2 {
  font-size: 18px;
  margin-top: 10px !important;
}

.result h2, 
.result p {
  margin-bottom: 5px !important;
}

.result h2 em, 
.result p em {
  color: #B92125;
}

.result .highlights {
  font-style: italic;
}

.result .highlights em {
  font-weight: bold;
}

/**
 * Pagination : start
 */
#pagination {
  text-align: center;
}

#pagination .pagination>li>a, #pagination .pagination>li>span {
  border: none;
  color: #1e2427;
  text-transform: uppercase;
}

#pagination .pagination>li.previous>a, #pagination .pagination>li.previous>span,
	#pagination .pagination>li.next>a, #pagination .pagination>li.next>span {
  border: 1px solid;
}

#pagination .pagination>li.previous>a, #pagination .pagination>li.previous>span {
  margin-right: 5px !important;
}

#pagination .pagination>li.next>a, #pagination .pagination>li.next>span {
  margin-left: 5px !important;
}

/* Override Bootstrap */
#pagination .pagination>.disabled>span, #pagination .pagination>.disabled>span:hover,
	#pagination .pagination>.disabled>span:focus, #pagination .pagination>.disabled>a,
	#pagination .pagination>.disabled>a:hover, #pagination .pagination>.disabled>a:focus,
	#pagination .pagination>li>a, #pagination .pagination>li>span {
  border-color: #1e2427;
}

/* Override Bootstrap */
#pagination .pagination>.active>a, #pagination .pagination>.active>span,
	#pagination .pagination>.active>a:hover, #pagination .pagination>.active>span:hover,
	#pagination .pagination>.active>a:focus, #pagination .pagination>.active>span:focus {
  background-color: #e4051f;
  color: #dee1e2;
}

/****************/
/** Pagination **/
/****************/
.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 12px !important;
  line-height: 1.42857143 !important;
  text-decoration: none !important;
  color: #B92125 !important;
  border: none !important;
  text-transform: uppercase !important;
  background-color: transparent !important;
}

.pagination>li>span {
  color: #1e2427 !important;
  border: none !important;
}

.pagination>li>a:hover {
  background-color: #eee !important;
}

.pagination>li.previous>a {
  margin-right: 5px !important;
  border: 1px solid black !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.pagination>li.next>a {
  margin-left: 5px !important;
  border: 1px solid black !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.pagination>li.active>a {
  background-color: #e4051f !important;
  color: #dee1e2 !important;
}

.pagination>li.disabled>span {
  margin-left: 5px !important;
  margin-right: 5px !important;
  border: 1px solid #1e2427 !important;
}

/**
 * Back to top : start
 */
#back-to-top {
  color: #0f1214;
  position: fixed;
  bottom: 37px;
  right: 37px;
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  font-size: 9px;
  padding: 1em !important;
}

#back-to-top.show {
  opacity: 1;
}

#back-to-top .glyphicon {
  background-color: #f2f2f2;
  padding: 1.5em !important;
  font-size: 12px;
  margin-bottom: 5px !important;
  border: 1px solid #0f1214;
}

/**
 * Back to top : end
 */
 
/**
 * Bootstrap : start
 */

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding-right: 15px !important;
  padding-left: 15px !important;
  box-sizing: border-box;
}

.well {
  font-size: 14px !important;
  padding: 19px !important;
  margin-bottom: 20px !important;
}

.well-sm {
  padding: 9px !important;
}

 /**
 * Bootstrap : end
 */