<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layout (template=~{::main},templateClass='', description='page administration', title=${titre} + ' | '+ ${nbResults})}"
>
    <main
        role="main"
        id="main_content"
        class="page-layout__content"
        th:with="listeTitle=${#messages.msgOrNull(titre) == null ? titre : #messages.msg(titre)},
                 listeNbDossiers=#{label.dossier.nombre(${nbResults})},
                 tableCaption=${listeTitle}+' - '+${listeNbDossiers}"
    >
        <h1 class="base-title base-title--lvl-1" th:text="#{menu.travail.title}">Espace de travail</h1>
        <div class="page-reponses__table">
            <div class="page-reponses__table-heading">
                <h2
                    class="page-reponses__table-heading__base-title base-title base-title--lvl-2"
                    th:remove="${titre==null}?all"
                >
                    [[ ${listeTitle} ]] -
                    <span
                        id="nbResultTitre"
                        class="base-paragraph page-reponses__folders-number"
                        th:text="${listeNbDossiers}"
                    >
                    </span>
                </h2>
            </div>

            <th:block th:unless="${#lists.isEmpty(resultList.liste)}">
                <div th:replace="fragments/components/rapid-filtre :: rapidSearch('dossiers-corbeille')"></div>
            </th:block>

            <div th:replace="fragments/table/tableDossiers :: searchResults"></div>
        </div>
    </main>
</html>
