<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout :: layout (template=~{::main},templateClass='', description='page administration', title=#{admin.delete.dossier.title}+ ' | '+ ${resultList.nbTotal})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <h1 class="base-title base-title--lvl-1" th:text="#{admin.delete.dossier.title}">
            Dossiers à supprimer
        </h1>

        <div class="tabulation m-t-5">
            <div role="tablist" class="tabulation__header m-t-8">
                <button
                    th:each="onglet, status : ${myTabs.onglets}"
                    type="button"
                    role="tab"
                    class="tabulation__item js-tabulation base-btn base-btn--button base-btn--default base-btn--transparent dossier-suppression-onglet"
                    th:classappend="${onglet.isActif ? 'tabulation\_\_item--active' : ''}"
                    th:aria-selected="${onglet.isActif ? 'true' : 'false'}"
                    th:aria-controls="'d_tab_content-'+${status.index}"
                    th:id="'d_tab_link-'+${status.index}"
                    th:data-name="${onglet.id}"
                    th:attr="onclick=${onglet.script}"
                    th:tabindex="${!onglet.isActif ? '-1' : null}"
                    th:text="#{__${onglet.label}__}"
                    name="tab-up"
                ></button>
            </div>
            <div class="tabulation__body">
                <div
                    th:each="onglet, status : ${myTabs.onglets}"
                    role="tabpanel"
                    tabindex="0"
                    class="tabulation__content"
                    th:id="'d_tab_content-'+${status.index}"
                    th:aria-hidden="${onglet.isActif ? 'false' : 'true'}"
                    th:aria-labelledby="'d_tab_link-'+${status.index}"
                    th:classappend="${onglet.isActif ? 'tabulation\_\_content--active' : ''}"
                >
                    <th:block th:if="${onglet.isActif}">
                        <div th:replace="${onglet.fragmentFile} :: ${onglet.fragmentName}"></div>
                    </th:block>
                    <p class="m-a-0" th:unless="${onglet.isActif}" th:id="'d_'+${onglet.id}+'_content'">
                        Chargement
                    </p>
                </div>
            </div>
            <!-- Modal de suppression des dossiers -->
            <div th:replace="fragments/components/modal-suppression-dossiers :: modal-suppression-dossiers"></div>

            <!-- Modal de validation de la liste des dossiers -->
            <div th:replace="fragments/components/authentification-modal :: authentification-modal"></div>
        </div>
    </main>
</html>
