<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='page suivi des échéances MGPP', title=#{menu.mgpp.calendrier.suivi.echeance})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <h1 class="m-b-6 base-title base-title--lvl-1" th:text="#{menu.mgpp.calendrier.suivi.echeance}">
            Suivi des échéances (rapports)
        </h1>
        <div class="heading-complex m-b-6">
            <div class="heading-complex__main">
                <h2
                    class="m-b-6 base-title base-title--lvl-2"
                    th:text="#{echeancier.promulgation.liste.resultats(${nbResults})}"
                >
                    53 dossiers
                </h2>
            </div>
            <div class="heading-complex__options"></div>
        </div>
        <div th:replace="fragments/table/tableSuiviEcheances :: tableSuiviEcheances"></div>
    </main>
</html>
