<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/suiviLibreLayout :: layout (template=~{::main},templateClass='', description='page activité parlementaire', title=#{suiviLibre.activiteParlementaire.titre})}"
>
    <main id="main_content" class="page-layout__content">
        <h1
            class="m-y-6 p-b-3 base-title base-title--lvl-1 base-title--is-underlined"
            th:text="#{suiviLibre.activiteParlementaire.titre}"
        >
            Activité parlementaire
        </h1>
        <h2 class="m-t-6 m-b-10 base-title base-title--lvl-2" th:text="#{suiviLibre.activiteParlementaire.sousTitre}">
            Liste des organismes extraparlementaires
        </h2>
        <div class="flexible-table table-activite-parlementaire" id="resultList" style="position: relative;">
            <div th:replace="fragments/suiviLibre/activiteParlementaireTable :: activiteParlementaireTable"></div>
        </div>
    </main>
</html>
