<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/suiviLibreLayout :: layout (template=~{::main},templateClass='', description='page dépot amendements', title=#{suiviLibre.depotAmendements.titre})}"
>
    <main id="main_content" class="page-layout__content">
        <h1 class="m-t-6 m-b-6 p-b-3 base-title base-title--lvl-1 base-title--is-underlined">Dépôt des amendements</h1>
        <h2 class="m-y-6 base-title base-title--lvl-2">Gestion des amendements</h2>
        <p>
            Le premier alinéa de l’article 44 de la Constitution dispose que : « Les membres du Parlement et le
            Gouvernement ont le droit d’amendement. Ce droit s’exerce en séance ou en commission selon les conditions
            fixées par les règlements des assemblées, dans le cadre déterminé par une loi organique ». Le chapitre III
            de la loi organique du 15 avril 2009 en précise les conditions d’application.
        </p>
        <p>
            Les amendements ont pour objet de modifier un texte soumis à la délibération d’une assemblée. Ainsi, ils
            portent suppression, nouvelle rédaction, substitution ou insertion. Ils peuvent également introduire des
            dispositions additionnelles sous réserve qu’elles présentent, en première lecture, un lien, même indirect,
            avec le texte déposé ou transmis et, après la première lecture, en application de la « règle de l’entonnoir
            », une relation directe avec les dispositions restant en discussion(*).
        </p>
        <p>
            Un amendement ne peut porter que sur un seul article. Si les modifications envisagées portent sur plusieurs
            articles, il convient de déposer autant d'amendements qu'il y a d'articles. Par ailleurs, lorsque plusieurs
            modifications d'un même article sont envisagées, sauf si elles sont de pure conséquence, il convient
            également de déposer plusieurs amendements.
        </p>
        <h3 class="m-t-6 m-b-6 base-title base-title--lvl-3">I. Traitement des amendements gouvernementaux.</h3>
        <p>
            Les amendements faisant l’objet d’un accord interministériel doivent être déposés, selon le stade de la
            procédure auquel on se situe, auprès de la commission ou du service de la séance de l’assemblée devant
            laquelle se déroule l’examen du texte. Le dépôt s’effectue au secrétariat de la commission saisie au fond au
            stade de l’examen en commission.
        </p>
        <p>
            Les assemblées ont dématérialisé la procédure de dépôt des amendements. On veillera par conséquent à
            effectuer ce dépôt par transmission de la version électronique de l’amendement :
        </p>
        <h4 class="m-t-6 m-b-6 base-title base-title--lvl-4">- à l’Assemblée nationale, via un portail dédié :</h4>
        <p>
            Depuis la XIVème législature, le dépôt des amendements gouvernementaux pour l’examen en séance ne peut plus
            se faire par courrier électronique. Il conviendra donc d’utiliser l’application suivante :
            <a href="https://portail.assemblee-nationale.fr" class="link"> https://portail.assemblee-nationale.fr </a>
        </p>
        <p>
            Pour accéder à ce portail et déposer des amendements, il est nécessaire de disposer d’identifiants, en
            envoyant une demande en ce sens à l’adresse
            <a href="mailto:seance.admin@assemblee-nationale.fr" class="link"> seance.admin@assemblee-nationale.fr. </a>
        </p>
        <p>
            Il importe de préciser dans votre demande vos nom/prénom/fonction occupée/numéro de téléphone (portable de
            préférence).
        </p>
        <p>
            Chaque ministère doit désigner un interlocuteur unique en charge du dépôt des amendements gouvernementaux
            pour en faciliter le suivi et assurer une meilleure coordination avec l’assemblée concernée.
        </p>
        <h4 class="m-t-6 m-b-6 base-title base-title--lvl-4">
            - au Sénat, en se connectant à l’application « AMELI » accessible au bas de chaque page du site du Sénat.
        </h4>
        <p>
            Pour accéder à AMELI et déposer des amendements, il est nécessaire de disposer d’identifiants, en envoyant
            une demande en ce sens à l’adresse
            <a href="mailto:amendements@senat.fr" class="link"> amendements@senat.fr </a>.<br />
            Il importe de préciser dans votre demande vos nom/prénom/fonction occupée/numéro de téléphone (portable de
            préférence).
        </p>
        <p>
            Le dépôt via Ameli des amendements gouvernementaux nécessite obligatoirement une connexion via le réseau
            interministériel de l’Etat (RIE), ainsi que le navigateur Mozilla Firefox.
        </p>
        <p>
            Chaque ministère doit désigner un interlocuteur unique en charge du dépôt des amendements gouvernementaux
            pour en faciliter le suivi et assurer une meilleure coordination avec l’assemblée concernée.
        </p>
        <p>Tout amendement doit comporter les éléments suivants :</p>
        <ul>
            <li>
                le titre du texte et, si possible, son numéro d’impression dans l’assemblée et pour le niveau de lecture
                concernés ;
            </li>
            <li>l’article amendé ou, le cas échéant, l’amendement sous-amendé ;</li>
            <li>le dispositif de l’amendement ;</li>
            <li>l’exposé des motifs.</li>
        </ul>
        <p>
            (*) : Sauf si l’amendement assure le respect de la Constitution, opère une coordination avec des textes en
            cours de discussion ou corrige une erreur matérielle.
        </p>
        <h3 class="m-t-6 m-b-6 base-title base-title--lvl-3">II. Traitement des amendements parlementaires.</h3>
        <p>
            Dans le cadre de l’amélioration continue du fonctionnement du travail interministériel, le Secrétariat
            Général du Gouvernement met à disposition de l’ensemble des ministères un outil interministériel dénommé «
            SIGNALE » permettant le traitement dématérialisé de l'examen et de la réponse aux amendements
            parlementaires.
        </p>
        <h4 class="m-t-6 m-b-6 base-title base-title--lvl-4">
            - Le système Interministériel de gestion Numérique des Amendements Législatifs « SIGNALE » :
        </h4>
        <p>
            Cette application, accessible exclusivement via le RIE à l’adresse
            <a th:href="#{link.gestion.amendements.parlementaires}" class="link">
                [[#{link.gestion.amendements.parlementaires}]]
            </a>
            , est un outil internet de gestion des amendements parlementaires permettant de :
        </p>
        <ul>
            <li>
                Télécharger rapidement les amendements et sous-amendements déposés par les parlementaires, de les
                classer dans l’ordre des articles ainsi que dans l’ordre de discussion ;
            </li>
            <li>
                Préparer la RIM d’arbitrage, et rédiger les réponses aux amendements ainsi que des éléments de langage
                pour la discussion parlementaire ;
            </li>
            <li>
                Produire de façon automatique un dossier de banc dématérialisé et imprimable s’actualisant en temps réel
                au fil de la discussion parlementaire.
            </li>
            <li>
                La mise à disposition d’un dossier législatif (pour un projet ou une proposition de loi) dans SIGNALE
                est opérée par le service de la législation et de la qualité du droit du SGG qui assure la maîtrise
                d’ouvrage de l’application.
            </li>
        </ul>
        <p>
            Pour autant, cette mise à disposition de dossiers législatifs dans SIGNALE ne permet pas, à elle seule, le
            traitement des amendements dont la responsabilité incombe en premier lieu au ministère « pilote » qui
            rapporte à titre principal le projet de loi.
        </p>
        <h4 class="m-t-6 m-b-6 base-title base-title--lvl-4">
            - Désignation de coordinateurs au sein du/des ministères pilotes.
        </h4>
        <p>
            La spécificité de la procédure législative réside dans l’hétérogénéité des organisations ministérielles dans
            la préparation et le suivi des textes de loi. En effet, pour chaque texte, le nombre de ministères
            intéressés et de directions contributrices variant, il est pratiquement impossible de déterminer par avance
            le processus de traitement des amendements et les différents circuits de validation.
        </p>
        <p>
            Afin de pouvoir être adapté à toutes les situations SIGNALE ne comporte pas de circuit de validation
            prédéfini ni de hiérarchisation des droits et des accès. Aussi, à l’exception des prérogatives
            d’administrateurs réservées au SGG, l’ensemble des utilisateurs de SIGNALE disposent des mêmes droits et
            peuvent agir à tout moment dans l’application et dans le processus de traitement des amendements. La seule
            condition pour pouvoir agir dans l’application est que l’utilisateur y ait été invité en préalable par un
            courriel comportant un lien sécurisé de connexion qui expire au bout de 10 minutes. La contrepartie de cette
            souplesse d’usage est une traçabilité permanente des actions réalisées par chacun dans un fichier journal.
        </p>
        <p>
            Il est donc indispensable, pour chaque projet de loi, d’organiser le travail, de répartir les amendements à
            traiter et de matérialiser les rôles dévolus aux contributeurs des ministères notamment par la création de «
            corbeilles » qui correspondront à des étapes du processus de traitement qui sera choisi pour préparer
            l’examen du projet de loi considéré.
        </p>
        <p>
            Ce travail d’organisation et de pilotage incombe à un ministère pilote, généralement le ministère à
            l’origine du projet au sein duquel des coordinateurs ministériels sont désignés pour définir l’organisation
            requise.
        </p>
        <p>
            Le recours à l’application SIGNALE, la désignation du ministère pilote et des personnes qui assureront la
            coordination de l’utilisation de l’application sont actés au plus tard lors de la réunion interministérielle
            de relecture du projet de loi avant sa délibération en conseil des ministres.
        </p>
        <p>
            Outre la structuration du travail dans SIGNALE, il incombe également aux coordinateurs désignés d’inviter
            par le biais de l’application les contributeurs qui prépareront les réponses aux amendement par l’envoi des
            courriels de connexion.
        </p>
    </main>
</html>
