<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footerSuiviLibre">
            <div class="base-footer" th:if="${showSuiviLibreFooter}">
                <div class="base-footer__laws" th:with="lib=#{suiviLibre.footer.ligne1(${typeActe})}">
                    <a th:href="${urlSuiviApplicationLois}" class="link m-b-4" th:text="${#strings.toUpperCase(lib)}">
                        SUIVI DE L'APPLICATION DES LOIS SUR LE PORTAIL DE LA QUALITE ET DE LA SIMPLIFICATION DU DROIT
                    </a>
                    <br />
                    <span class="m-b-6" th:text="#{suiviLibre.footer.ligne2}">
                        Pour toute observation sur les éléments de suivi présentés ici, merci de nous écrire à l'adresse
                        :
                    </span>
                    <a th:href="'mailto:' + #{suiviLibre.footer.mail}" class="link">application.lois2@pm.gouv.fr</a>
                </div>
            </div>
        </div>
    </body>
</html>
