<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="ajout-demande-epreuve" id="etapeFdrContainer-etape">
            <th:block th:each="etape, status : ${etapesDemandeEpreuve}">
                <th:block th:with="line=${etape}">
                    <fieldset
                        th:replace="fragments/fdr/etapeFdr :: etapeFdr(${status.index}, false, ${profil})"
                    ></fieldset>
                </th:block>
            </th:block>
        </div>
    </body>
</html>
