<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="historiqueLine">
            <td class="table-line__cell">
                <p class="table-line__cell-content" th:text="${migration.ministereRattachement}"></p>
            </td>
            <td class="table-line__cell">
                <p class="table-line__cell-content" th:text="${migration.reattributionDossiers}"></p>
            </td>
            <td class="table-line__cell">
                <p class="table-line__cell-content" th:text="${migration.bulletinOfficiel}"></p>
            </td>
            <td class="table-line__cell">
                <p class="table-line__cell-content" th:text="${migration.tablesReference}"></p>
            </td>
        </th:block>
    </body>
</html>
