<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="listeDocuments(item)">
            <ul class="r-search-element__body-list base-list base-list--unordered base-list--dotted">
                <li>
                    <span class="r-search-element__body-title" th:utext="${item.nom}">
                        DECRET cessation de fonctions.doc
                    </span>
                    <span class="r-search-element__body-version" th:if="${item.version}" th:text="|(${item.version})|">
                        (2.0)
                    </span>
                    <p class="r-search-element__body-text" th:utext="${item.extrait}">
                        RÉPUBLIQUE FRANÇAISE Ministère de la justice Décret du Portant cessation de fonctions et
                        radiation des cadres (magistrature) NOR
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>
