<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="ligne-tableau-maitre(item, lineActions)">
            <tr
                class="table-line"
                th:classappend="${item.uuid == idContextuel ? 'table-line--selected' : ''}"
                th:with="itemId=${item.getId()}"
                th:data-id="${itemId}"
            >
                <td class="table-line__cell">
                    <a
                        class="link"
                        target="_blank"
                        th:attr="onclick=|chargerBlocContextuel(this,'${item.uuid}','textemaitre');return false;|"
                        th:text="${item.numero}"
                        th:href="@{|/suivi/pan/${currentSection}/${currentPanTab}/textemaitre/${item.uuid}|}"
                    ></a>
                </td>
                <td class="table-line__cell" th:text="${#dates.format(item.dateDirective,'dd/MM/yyyy')}"></td>

                <td class="table-line__cell">
                    <a
                        class="link"
                        href="#main_content"
                        th:attr="onclick=|chargerBlocContextuel(this,'${item.ministerePilote}','ministere');return false;|"
                        th:text="${item.ministerePiloteLabel}"
                        th:href="@{|/suivi/pan/${currentSection}/${currentPanTab}/ministere/${item.ministerePilote}|}"
                    ></a>
                </td>

                <td class="table-line__cell">
                    <th:block
                        th:replace="fragments/components/longText :: ellipser (${item.titreOfficiel}, ${item.uuid}+'-titre')"
                    ></th:block>
                </td>
                <td class="table-line__cell" th:text="${#dates.format(item.dateEcheance,'dd/MM/yyyy')}"></td>

                <td class="table-line__cell">
                    <th:block th:if="${item.tabAffichageMarcheInt == 0}" th:text="#{choix.non}"> </th:block>
                    <th:block th:if="${item.tabAffichageMarcheInt == 1}" th:text="#{choix.oui}"> </th:block>
                </td>
                <td
                    class="table-line__cell"
                    th:text="${#dates.format(item.dateProchainTabAffichage,'dd/MM/yyyy')}"
                ></td>
                <td class="table-line__cell">
                    <th:block th:if="${item.achevee == 0}" th:text="#{choix.non}"> </th:block>
                    <th:block th:if="${item.achevee == 1}" th:text="#{choix.oui}"> </th:block>
                </td>
                <td class="table-line__cell" th:text="${item.observation}"></td>
                <td>
                    <th:block th:if="${texteMaitreDeleteAction != null}">
                        <div
                            th:replace="fragments/components/action-button-fixed :: action-button-fixed(${texteMaitreDeleteAction}, false, 'base-btn--light base-btn--transparent')"
                        ></div>
                    </th:block>
                </td>
            </tr>
        </div>
    </body>
</html>
