<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modal-success-create-list-signature"
            id="modal-success-create-list-signature"
            class="interstitial-overlay__content"
        >
            <div
                class="interstitial"
                role="dialog"
                aria-labelledby="dialogTitle-modal-valider-non-concerne"
                style="position: relative;"
            >
                <div id="modal-success-create-list-signature-content"><!--/* Contenu chargé par ajax */--></div>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
