<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            th:fragment="modal-history-version-document"
            id="modal-history-version-document"
            class="interstitial-overlay__content"
        >
            <div class="interstitial interstitial--large" role="dialog" aria-labelledby="dialogTitle-historyVersion">
                <div class="interstitial__header">
                    <h1
                        id="dialogTitle-historyVersion"
                        class="interstitial__title"
                        th:text="#{dossier.onglet.document.modal.historique.version.document.title}"
                    >
                        Historique des versions
                    </h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span
                        ><span class="sr-only" th:text="#{gouvernement.import.popup.close}"
                            >Fermer la fenêtre de dialogue</span
                        >
                    </button>
                </div>
                <div class="interstitial--tall interstitial__content" id="modalHistoryVersionDocContent">
                    <!--/* Contenu chargé par ajax */-->
                </div>
                <div class="interstitial__footer justify-end" id="footerModalHistoryVersionDocument">
                    <button
                        type="button"
                        class="interstitial__button base-btn base-btn--button base-btn--default base-btn--center"
                        th:text="#{dossier.onglet.document.modal.historique.version.document.fermer}"
                    >
                        Fermer
                    </button>
                </div>
            </div>
            <div tabindex="-1" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
