<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="modal-substitution-mass" th:fragment="modal-substitution-mass" class="interstitial-overlay__content">
            <div
                class="interstitial"
                role="dialog"
                th:aria-labelledby="#{menu.outilSelection.action.mass.substitution}"
                style="position: relative;"
            >
                <div class="interstitial__header">
                    <h1 class="interstitial__title" th:text="#{menu.outilSelection.action.mass.substitution}"></h1>
                    <button
                        type="button"
                        class="interstitial__close base-btn base-btn--button base-btn--default base-btn--discret"
                    >
                        <span aria-hidden="true" class="icon icon--cross"></span
                        ><span class="sr-only" th:text="#{validation.popup.close.label}"
                            >Fermer la fenêtre de dialogue</span
                        >
                    </button>
                </div>
                <div id="substitution-mass-summary-content"></div>
                <div tabindex="0" class="interstitial-overlay__tabindex"></div>
            </div>
        </div>
    </body>
</html>
