<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div
            id="modal-suppression-dossiers"
            th:fragment="modal-suppression-dossiers"
            class="interstitial-overlay__content"
            th:data-last-button-text="#{action.button.label.supprimer}"
            th:data-cancel-button-text="#{action.button.label.retour}"
        >
            <div
                id="suppression-dossiers-summary-content"
                role="dialog"
                aria-labelledby="modal_label"
                class="interstitial"
            ></div>
            <div tabindex="0" class="interstitial-overlay__tabindex"></div>
        </div>
    </body>
</html>
