<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="modalRetourModificationRetourDanContent" class="form-input-group__list">
            <div id="poste-retour-dan-select" th:each="item: ${posteDan}" class="form-choice-input">
                <input
                    type="radio"
                    th:value="${item.id}"
                    th:id="|poste-retour-dan-input-${item.id}|"
                    name="poste-retour-dan-input"
                    class="form-choice-input__input"
                    autocomplete="off"
                />
                <label
                    th:for="|poste-retour-dan-input-${item.id}|"
                    id="|poste-retour-dan-input-${item.id}-label|"
                    class="form-label form-choice-input__label form-choice-input__label--radio"
                    th:text="${item.label}"
                ></label>
            </div>
        </div>
    </body>
</html>
