<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="texte-maitre-second-tableau" th:remove="tag">
            <input type="hidden" id="idFirstTable" th:value="${idFirstTable}" />
            <input type="hidden" id="secondTableType" th:value="${secondTableType}" />

            <th:block th:if="${secondTableList!=null}">
                <div
                    th:replace="fragments/pan/components/texteMaitreTable :: texteMaitreTable('texteMaitreSecondTableau', ${secondTableList}, ${secondTableLineActions}, ${secondTableCaption}, ${secondTableActions}, ${secondTableForm}, ${secondTableLineTemplate}, ${secondTableType}, false, ${secondTableTypeNor}, ${secondTableDataUrl}, ${secondTableDataAjaxUrl})"
                ></div>
            </th:block>
        </div>
    </body>
</html>
