<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="texte-maitre-premier-tableau" th:remove="tag">
            <th:block th:if="${firstTableList!=null}">
                <div
                    th:replace="fragments/pan/components/texteMaitreTable :: texteMaitreTable('texteMaitrePremierTableau', ${firstTableList}, ${firstTableLineActions}, ${firstTableCaption}, ${firstTableActions}, ${firstTableForm}, ${firstTableLineTemplate}, ${firstTableType}, true, ${norType}, ${firstTableDataUrl}, ${firstTableDataAjaxUrl})"
                ></div>
            </th:block>
        </div>
    </body>
</html>
