<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="rechercheLibreZoneRecherche" class="page-solon-search__results">
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-zone-recherche-header :: rechercheLibreZoneRechercheHeader"
            ></div>
            <!---->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-zone-recherche-resultats :: rechercheLibreZoneRechercheResultats"
            ></div>
        </div>
    </body>
</html>
