<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="rechercheLibreFiltreFacette">
            <!-- Vecteur de publication -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
					'vecteur-publication',
					'recherche.libre.btn.vecteur.publication',
					${vecteurPublication},
					${resultForm ? resultForm.getVecteurPublicationId() : null})"
            ></div>
            <!-- Type d'acte -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
					'type-acte',
					'recherche.libre.btn.type.acte',
					${typeActe},
					${resultForm ? resultForm.getTypeActeId() : null})"
            ></div>
            <!-- Catégorie d'acte -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
					'categorie-acte',
					'recherche.libre.btn.categorie.acte',
					${categorieActe},
					${resultForm ? resultForm.getCategorieActeId() : null})"
            ></div>
            <!-- Statut -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
					'statut',
					'recherche.libre.btn.statut',
					${statut},
					${resultForm ? resultForm.getStatutId() : null})"
            ></div>
            <!-- Ministère de rattachement -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
                    'ministere-attache',
                    'recherche.libre.btn.ministere.attache',
                    ${ministereAttache},
                    ${resultForm ? resultForm.getMinistereAttacheId() : null})"
            ></div>
            <!-- Direction de rattachement -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
                    'direction-attache',
                    'recherche.libre.btn.direction.attache',
                    ${directionAttache},
                    ${resultForm ? resultForm.getDirectionAttacheId() : null})"
            ></div>
            <!-- Statut d'archivage -->
            <div
                th:replace="fragments/components/recherchelibre/recherche-libre-filtre-chk :: rechercheLibreFiltreChk(
					'statut-archivage',
					'recherche.libre.btn.statut.archivage',
					${statutArchivage},
					${resultForm ? resultForm.getStatutArchivageId() : null})"
            ></div>
        </div>
    </body>
</html>
