<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="rechercheLibreZoneFiltres" class="page-solon-search__filters">
            <!-- Facettes -->
            <div class="page-layout__content--dark page-layout__content--rounded p-a-6">
                <div
                    th:replace="fragments/components/recherchelibre/recherche-libre-filtre-facette :: rechercheLibreFiltreFacette"
                ></div>
            </div>

            <!-- Autres filtres -->
            <div class="page-layout__content--dark page-layout__content--rounded p-a-6 m-t-6">
                <div
                    th:replace="fragments/components/recherchelibre/recherche-libre-filtre-autres :: rechercheLibreFiltreAutres"
                ></div>
            </div>
        </div>
    </body>
</html>
