<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="arbre(title, icon, url, isTitle, items)" th:with="titleLabel=#{${title}}">
            <li
                class="tree-navigation__item"
                th:classappend="${isTitle} ? 'tree-navigation\_\_item--lvl-1' : 'tree-navigation\_\_item--subitem'"
            >
                <a
                    th:title="${titleLabel}"
                    th:href="@{${url}}"
                    class="tree-navigation__link tree-navigation__link--has-icon link link--no-line"
                    ><span
                        aria-hidden="true"
                        class="icon link__icon link__icon--prepend link__icon--large"
                        th:classappend="${icon}"
                    ></span
                    ><span class="tree-navigation__text" th:text="${titleLabel}">Recherche</span></a
                >
                <ul
                    th:if="${not #lists.isEmpty(items)}"
                    class="tree-navigation__list tree-navigation__list--is-opened tree-navigation__list--subtree"
                >
                    <th:block th:each="item : ${items}">
                        <th:block
                            th:replace="fragments/leftblocks/recherche-arbre :: arbre(${item.label}, ${item.icon}, ${item.url}, ${item.isTitle}, ${item.items})"
                        ></th:block>
                    </th:block>
                </ul>
            </li>
        </th:block>
    </body>
</html>
