/* Put SWORD specific CSS for appli here */

.pipe-separator {
    margin: 0.5em;
}

#listeDossiers,
.position-relative {
    position: relative;
}

.alert-modal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0.625em 0.9375em;
    border-left: 0.1875em solid;
    border-radius: 0 0.1875em 0.1875em 0;
    background: #f5f5f5;
    color: #3c3c3c;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}

#accordion__content__suivi {
    overflow-x: auto;
}

#search-type-acte-parapheur .form-input__footer {
    position: absolute;
}

#search-type-acte-fdd .form-input__footer {
    position: absolute;
}

.form-input__footer {
    position: absolute;
    width: 100%;
}

.interstitial-overlay.page-epg__tree-icon {
    right: 0;
    z-index: auto;
}

#modal-traitement-serie-list .interstitial__content {
    min-height: 35em;
}
.td-link {
    margin: 0;
    padding: 0;
}

.td-li {
    height: 1.5em;
}

#EXPORT_DOSSIERS_ARCHIVES {
    color: #fefefe !important;
}

.page-login__header {
    height: 15em;
}
.alerte-link {
    display: contents;
}
.table-onglet .table-row-count {
    font-family: "Roboto Slab", serif;
    font-size: 1.0714285714rem;
    color: #4a5e81;
}
.form-choice-input__input:focus + .form-choice-input__label + .form-choice-input-fields__fieldset {
    outline-color: rgb(40, 120, 226);
    outline-style: solid;
}
.form-choice-input__input:focus + .form-choice-input__label--empty {
    outline-style: none;
}

#contentBordereauSimilaire td {
    max-width: 50em;
}

#suivi_menu_td .quick-access-dropdown,
.td-li {
    display: inline-flex;
    height: 100%;
    width: 100%;
    margin-top: 0em !important;
}

.tree-navigation__text {
    word-break: break-word;
}
