<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="consult-dossier-content" id="consult_dossier_content">
            <div class="heading-complex">
                <div class="heading-complex__main">
                    <h1 class="heading-complex__title base-title base-title--lvl-1" id="main_title">
                        [[${monDossier.titreActe}]]
                    </h1>
                    <p class="heading-complex__subtitle base-subtitle">
                        -
                        <th:block
                            th:replace="fragments/components/idComponent :: id('consult_link-copy__link', ${monDossier.numeroNor}, 'NOR', null, false, true)"
                        ></th:block>
                    </p>
                </div>

                <div class="heading-complex__options">
                    <th:block th:each="action : ${lockActions}">
                        <div
                            th:replace="fragments/components/action-button :: action-button(${action}, false, 'base-btn--icon-action-blue base-btn--transparent')"
                        ></div>
                    </th:block>
                    <p
                        th:if="${monDossier.isVerrouille}"
                        th:text="#{dossier.consult.lockinfo(${monDossier.lockTime},${monDossier.lockOwner})}"
                    ></p>
                </div>
            </div>

            <div
                class="page-reponses-qe-base__steps m-t-3"
                th:include="fragments/dossier/current-next-step-folder :: current-next-step-folder(${monDossier})"
            ></div>

            <div class="page-reponses__table-content">
                <div th:replace="fragments/table/toolbar :: toolbar('dossier_toolbar_before', false)"></div>
                <div th:if="${myTabs!=null}" class="tabulation m-t-5">
                    <div role="tablist" class="tabulation__header">
                        <button
                            th:each="onglet, status : ${myTabs.onglets}"
                            type="button"
                            role="tab"
                            class="tabulation__item js-tabulation base-btn base-btn--button base-btn--default base-btn--transparent dossier-onglet"
                            th:classappend="${onglet.isActif ? 'tabulation\_\_item--active' : ''}"
                            th:aria-selected="${onglet.isActif ? 'true' : 'false'}"
                            th:aria-controls="'d_tab_content-'+${status.index}"
                            th:id="'d_tab_link-'+${status.index}"
                            th:data-name="${onglet.id}"
                            th:attr="onclick=${onglet.script}"
                            th:tabindex="${!onglet.isActif ? '-1' : null}"
                            th:text="#{__${onglet.label}__}"
                            name="tab-up"
                        ></button>
                    </div>
                    <div class="tabulation__body">
                        <div
                            th:each="onglet, status : ${myTabs.onglets}"
                            role="tabpanel"
                            tabindex="0"
                            class="tabulation__content"
                            th:id="'d_tab_content-'+${status.index}"
                            th:aria-hidden="${onglet.isActif ? 'false' : 'true'}"
                            th:aria-labelledby="'d_tab_link-'+${status.index}"
                            th:classappend="${onglet.isActif ? 'tabulation\_\_content--active' : ''}"
                        >
                            <th:block th:if="${onglet.isActif}">
                                <div th:replace="${onglet.fragmentFile} :: ${onglet.fragmentName}"></div>
                            </th:block>
                            <div th:unless="${onglet.isActif}" th:id="'d_'+${onglet.id}+'_content'">Chargement</div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/table/toolbar :: toolbar('dossier_toolbar_before', false)"></div>
            </div>

            <!-- Modal valider étape non concerné -->
            <div th:replace="fragments/components/modal-valider-non-concerne :: modal-valider-non-concerne"></div>

            <!-- Modale de confirmation de déverouillage -->
            <input
                type="hidden"
                id="init-modal-deverouillage"
                th:data-title="${#messages.msg('deverouillage.title.label')}"
                th:data-message="${#messages.msg('deverouillage.modal.confirm.question')}"
                th:data-btn-confirm-label="${#messages.msg('button.confirmer')}"
                data-function="deverouilleDossier()"
                data-controls="validation-dialog-modal"
            />

            <!-- Modale de confirmation de confirmation de validation d'étape -->
            <input
                type="hidden"
                id="init-modal-confirm-valid-etape"
                th:data-title="${#messages.msg('label.epg.feuilleRoute.etape.confirm.validation.titre')}"
                th:data-message="${#messages.msg('label.epg.feuilleRoute.etape.confirm.validation')}"
                th:data-btn-confirm-label="${#messages.msg('button.label.valider')}"
                data-controls="validation-dialog-modal"
            />
            <!-- Modale ajout note d'étape (doit pouvoir être ouverte depuis n'importe quel onglet d'un dossier) -->
            <div th:replace="fragments/fdr/addEditNoteEtape :: addEditNoteEtape"></div>
            <!-- Modale ajout choix poste DAN pour le retour pour modification -->
            <div th:replace="fragments/components/modal-retour-modification :: modal-retour-modification"></div>
            <!-- Modale d'erreur retour pour modification -->
            <div
                th:replace="fragments/components/modal-error-retour-modification :: modal-error-retour-modification"
            ></div>
            <!-- Modale ajout aux textes en attente de signature -->
            <input
                type="hidden"
                id="init-modal-ajout-attente-signature"
                th:data-title="${#messages.msg('action.add.attente.signature')}"
                th:data-btn-confirm-label="${#messages.msg('pieceJointe.label.ajouter')}"
                data-controls="modal-ajout-attente-signature"
            />
            <div th:replace="fragments/components/modal-ajout-attente-signature :: modal-ajout-attente-signature"></div>

            <div
                class="page-layout__content-nav flex justify-between is-below"
                th:if="${not #strings.isEmpty(urlPreviousPage)}"
            >
                <button
                    type="button"
                    class="base-btn base-btn--button base-btn--default base-btn--light base-btn--bordered base-btn--padded-lr m-b-1-7857em"
                    onclick="goPreviousPage()"
                    th:text="#{button.label.back}"
                >
                    Retour
                </button>

                <th:block th:if="${isDossierCreation}">
                    <button
                        type="button"
                        class="base-btn base-btn--button base-btn--default base-btn--center base-btn--padded-lr m-b-1-7857em"
                        id="btn-create-dossier"
                        th:text="#{epg.dossier.creation.btn}"
                        onclick="createRectificatif()"
                    >
                        Créer le dossier
                    </button>
                </th:block>
            </div>

            <!-- Modale de choix du poste -->
            <div th:replace="fragments/travail/modal-choix-poste :: modal-choix-poste"></div>

            <!-- Modal d'envoie de mail -->
            <div
                th:replace="fragments/dossier/modal-dossier-send-mail :: modal-dossier-send-mail('sendDossierMail')"
            ></div>

            <!-- Modal de sauvegarde -->
            <div
                th:replace="fragments/components/modale-sauvegarde :: modale-sauvegarde('dossier',
	             'saveDossierFromModale',
	             'initDossierSauvegardeModale',
	             'checkDossierSauvegardeModale'
	         )"
            ></div>
        </div>
    </body>
</html>
