<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="donneesIndexation(bordereauDto)" th:with="dto=${bordereauDto.donneesIndexation}">
            <th:block th:unless="${bordereauDto.isEdit}">
                <div class="folder-detail">
                    <table role="presentation" class="folder-detail__table">
                        <tbody>
                            <th:block th:if="${dto.isVisibleTexteEntreprise}">
                                <tr
                                    th:replace="fragments/components/folder-detail-line :: folderDetailLine(#{dossier.bordereau.texte.rubrique.entreprise},${dto.isTexteRubriqueEntreprise ? 'Oui' : 'Non'})"
                                ></tr>
                                <tr class="folder-detail__table-line">
                                    <td
                                        class="folder-detail__table-cell folder-detail__table-cell--label"
                                        th:text="#{dossier.bordereau.dates.effet.rubrique.entreprise}"
                                    ></td>
                                    <td class="folder-detail__table-cell folder-detail__table-cell--value">
                                        <th:block
                                            th:each="date,status : ${dto.datesEffetRubriqueEntreprise}"
                                            th:text="|${#calendars.format(date,'dd/MM/yyyy')}${status.last ? '' : ', '}|"
                                        ></th:block>
                                    </td>
                                </tr>
                            </th:block>
                            <tr
                                th:replace="fragments/components/folder-detail-checkbox-line :: folderDetailCheckBoxLine(#{dossier.bordereau.rubriques},${#strings.listJoin(dto.rubriques, ', ')},${bordereauDto.isCopy},'dos:rubriques')"
                            ></tr>
                            <tr
                                th:replace="fragments/components/folder-detail-checkbox-line :: folderDetailCheckBoxLine(#{dossier.bordereau.mots.cles},${#strings.listJoin(dto.motsCles, ', ')},${bordereauDto.isCopy},'dos:motscles')"
                            ></tr>
                            <tr
                                th:replace="fragments/components/folder-detail-checkbox-line :: folderDetailCheckBoxLine(#{dossier.bordereau.champs.libres},${#strings.listJoin(dto.champsLibres, ', ')},${bordereauDto.isCopy},'dos:libre')"
                            ></tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
            <th:block th:if="${bordereauDto.isEdit}">
                <div role="group" aria-labelledby="accordion__header__epgBordereauDonneesIndexation">
                    <th:block th:if="${dto.isVisibleTexteEntreprise}">
                        <div class="grid__row p-t-3 p-b-3">
                            <div class="grid__col grid__col--middle">
                                <div class="form-optin">
                                    <th:block
                                        th:replace="fragments/components/formblocks/input-oui-non :: ouiNon('dossier.bordereau.texte.rubrique.entreprise', 'isTexteRubriqueEntreprise', ${dto.isTexteRubriqueEntreprise}, false)"
                                    ></th:block>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row p-t-3 p-b-3">
                            <div class="grid__col grid__col--middle">
                                <div
                                    th:replace="fragments/components/multiple-date-picker :: multipleDatePicker('dossier.bordereau.dates.effet.rubrique.entreprise', 'datepicker_datesEffetRubriqueEntreprise', 'datesEffetRubriqueEntreprise[]', 'datesEffetRubriqueEntreprise', false, ${dto.datesEffetRubriqueEntreprise})"
                                ></div>
                            </div>
                        </div>
                    </th:block>
                    <div class="grid__row p-t-3 p-b-3">
                        <div class="grid__col grid__col--middle form-input">
                            <th:block
                                th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect('dossier.bordereau.rubriques', 'rubriques', 'rubriques[]', 'form.description.nocharlimit', ${rubriquesOptions}, ${dto.rubriques}, 'false', '', '0', '', '', '', false, true, false)"
                            ></th:block>
                        </div>
                    </div>
                    <div class="grid__row p-t-3 p-b-3">
                        <div class="grid__col grid__col--middle form-input">
                            <th:block
                                th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect('dossier.bordereau.mots.cles', 'motsCles', 'motsCles[]', 'form.description.nocharlimit', ${motsClesOptions}, ${dto.motsCles}, 'false', '', '0', '', '', '', false, true, false)"
                            ></th:block>
                        </div>
                    </div>
                    <div class="grid__row p-t-3 p-b-3">
                        <div class="grid__col grid__col--middle form-input">
                            <th:block
                                th:replace="fragments/components/formblocks/autocomplete-select :: autocompleteSelect('dossier.bordereau.champs.libres', 'champsLibres', 'champsLibres[]', '', ${ {} }, ${dto.champsLibres}, 'false', null, '0', 'input', '', '', false, true, true)"
                            ></th:block>
                        </div>
                    </div>
                </div>
            </th:block>
        </th:block>
    </body>
</html>
